/*******Common*******/

/*Clear all predefined margins and paddings to make it easier to style*/
* {
	margin: 0;
	padding: 0
}

/*Prevent page-shift to right when little or no content*/
html{
	overflow-y: scroll;
}

/*Change the default font to Arial. Generic sans-serif will be applied if Arial 
is not available*/
body{
	font-family: Arial, sans-serif;
}

/*Remove dotted outline from links*/
a{
	color: #000;
	outline: none;
}

/******Layout******/

/*Wrapper*/
/*Make it 1000px wide and center it*/
#wrapper{
	width: 1000px;
	margin: 0 auto;
}

/*Navigation*/
/*Define width, height, border and background-color*/
#navigation{
	width: 1000px;
	height: 50px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #eee;
}

/*list-style removes the dots, line-height centers the links vertically*/
#navigation ul{
	width: 400px;
	margin: 0 auto;
	list-style: none;
	line-height: 50px;
}

/*Spread the list elements horizontally*/
#navigation ul li{
	display: inline;
}

/*Header*/
#header{
	width: 1000px;
	height: 150px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #ddd;
}

#header h1{
	line-height: 150px;
	padding: 0 0 0 60px;
	font-size: 40px;
}

p{
	padding: 1em;
}

/*page-wrapper*/
#page-wrapper{
	width: 1000px;
	border: 1px solid #ccc;
	border-top: none;
	overflow: hidden;
}

/*Sidebar*/
#sidebar{
	width: 300px;
	float: right;
	border-left: 1px solid #ccc;
	background-color: #eee;	
	margin-bottom: -10000px;
	padding: 20px 20px 10000px 20px;
}

/*Content*/
#content{
	margin-right: 300px;
	padding: 20px;
	overflow: scroll;
}